*{  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
height: 100%;
}

/*MENU*/

.nav{
  padding: 25px;
  box-shadow: 0 0 1em 0 gray;
  display: flex;
  background-color: rgb(242, 244, 245);  
}

.nav .nombre{
  color: rgb(31, 29, 29);
  margin-top: 5px;
}

.nav .nombre h2{
font-weight: 700;
font-size: 1.2em;
}

.nav .nombre h4{
font-weight: 700;
font-size: 1em;
}

.logo img{
  width: 80px;
  height: 50px;
  margin-top: 6px;
  margin-left: 5px;
}

.menu{ 
  width: 80%;
  text-align: center;
  padding-left: 60px;
  z-index: 1;
}

.menu ul li a:hover {
  text-decoration: underline;
  }

.menu ul, .menu-hamb ul {
  list-style: none;
  padding: 0;
  padding-top: 15px;
}

.menu ul li, .menu-hamb ul li {
  display: inline-block;
  margin-right: 30px;
  font-weight: 700;
}

.menu ul li a, .menu-hamb ul li a {
  text-decoration: none;
  color: rgb(31, 29, 29);
}

/* Estilos específicos para el menú hamburguesa */
.menu-hamb {
  display: none;
  position: relative; /* Asegura que el ul absoluto se base en esta posición */
}

.menu-hamb ul {
  display: none;
  position: absolute;
  background-color: rgb(242, 244, 245);
  right: -25px;
  top: 65px; /* Ajustado para alinear con la parte superior del botón */
  width: 250px; /* Ancho del menú */
  margin: 0;
  padding: 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Sombra para darle profundidad */
  opacity: 0; /* Inicia invisible */
  transition: opacity 0.5s ease, transform 2s ease; /* Transición suave */
  transform: translateX(100%); /* Empieza oculto hacia la derecha */
}

.menu-hamb ul li {
  display: block;
  margin: 0;
}

.menu-hamb ul li a {
  display: block; /* Hace que el enlace llene el li */
  padding: 10px 20px; /* Espaciado dentro de cada enlace */
  color: rgb(31, 29, 29);
  text-decoration: none;
  }

.menu-hamb ul li a:hover {
  background-color: rgb(149, 153, 155);
  }

.menu-hamb ul.mostrar {
      display: block;
      opacity: 1;
      transform: translateX(0%);         /* Se muestra completamente */
      transition-duration: 3s;
}

/* Estilos para el botón del menú hamburguesa */
#boton-hamburguesa {
  background-color: rgb(242, 244, 245);
  color: rgb(31, 29, 29);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
}

#boton-hamburguesa:hover {
  background-color: rgb(242, 244, 245);
}

.portada-cel{
  display: none;
}


/* Media query para ajustar la visibilidad según el ancho */
@media (max-width: 1300px) {
  .menu {
      display: none;
  }

  .menu-hamb {
      display: block;
      margin-left: auto;
      z-index: 1;
  }

  .nav .nombre, .logo{
      display: flex;
      flex-direction: column;
  }
}

/*Portada de inicio*/

.portada{
display: flex;
flex-direction: row;
position: relative;
width: 100%;
height: calc(100% - 110px);
padding-bottom: 56.25%; /* Relación de aspecto 16:9 (9 / 16 * 100%) */
overflow: hidden;
background-color: rgb(242, 244, 245);
}

/*Estaciones*/

.estaciones-cel {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}    
    
.estaciones-cel h3{
color: rgba(49, 49, 49, 0.856);
margin: 20px 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.flex-item {
flex-grow: 1;
margin: 20px;
max-width: 340px;
box-shadow: 0px 10px 10px 0px rgba(151, 151, 151, 0.295);
display: flex;
flex-direction: column;
align-items: center; /* Centra el contenido dentro del item */
text-align: center; /* Centra el texto */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 20px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: rgb(255, 255, 255);
}

.flex-item img {
max-width: 100%; /* Asegura que las imágenes no excedan el tamaño del contenedor */
height: auto; /* Mantiene la proporción de las imágenes */
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
    
.estaciones-cel h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(49, 49, 49, 0.856);
  padding: 15px 15px 5px 15px;
  font-weight: 100;
}


/*Celular*/
@media (max-width: 600px) {

/*Inicio*/

.portada{
display: none;
}  

.portada-cel{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px;
width: 100%;
background-color: rgba(242, 244, 245, 0.493);
}

.portada-cel .est{
display: flex;
flex-direction: column; /* Cambia el orden de los elementos a columnas */
align-items: center; /* Centra horizontalmente */
margin-top: 20px;
}

.portada-cel img{
border-radius: 50%;
max-width: 230px;
height: auto;
margin: 20px;
}

.portada-cel a{
margin-top: 15px;
font-weight: 700;
font-size: 20px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: none;
color: rgb(71, 71, 71);
}

.portada-cel span{
color: rgb(71, 71, 71);
margin-top: 10px;
font-size: 20px;
word-wrap: break-word;
white-space: normal;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portada-cel .log{
margin-top: 50px;
display: flex;
flex-direction: column;
align-items: center;
}

.portada-cel .log span{
word-wrap: break-word;
white-space: normal;
}

.portada-cel .agron{
display: flex;
flex-direction: column; /* Cambia el orden de los elementos a columnas */
align-items: center; /* Centra horizontalmente */
margin-top: 50px;
}

.portada-cel .agron span{
word-wrap: break-word;
white-space: normal;
}

.portada-cel .hac{
display: flex;
flex-direction: column; /* Cambia el orden de los elementos a columnas */
align-items: center; /* Centra horizontalmente */
margin-top: 50px;
}
  
.portada-cel .hac span{
word-wrap: break-word;
white-space: normal;
}}

@media (max-width: 600px){
/*Estaciones*/

.estaciones-cel{
display: flex;
flex-direction: column;
padding: 20px;
}


.estaciones-cel h3{
color: rgba(49, 49, 49, 0.856);
margin: 20px 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}}

/*logistica*/

.carousel-container {
display: flex;
justify-content: center;
align-items: center;
margin-top: 5%;
padding-bottom: 3%;
}

.carousel {
width: 80vh;
}

.carousel-caption{
background-color: rgba(255, 251, 251, 0.747);
color: black;
}

.carousel-item p {
font-size: 12px;
padding-left: 10px;
padding-right: 10px;
}

.logis{
margin-top: 30px;
background-color: rgba(209, 209, 209, 0.288);
padding: 40px;
color: rgba(19, 19, 19, 0.856);
}

.a, .b{
text-align: center;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 20px 10px 20px 10px;
font-weight: 300;
}

.a{
padding-top: 70px;
}

.logis h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 50px;
padding: 20px 0px 20px 0px;
}

  /* Ajusta la altura y el ancho del carrusel inicio*/
  .custom-carousel1 {
    width: 85% !important;
    margin: 0 auto;   /* Centra el carrusel */
}

.custom-carousel1 .carousel-inner img {
    height: auto; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Mantiene la proporción de las imágenes */
}

.clientes h5{
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.5em;
}

.row{
gap: 20px;
flex-wrap: wrap;
justify-content: center;
width: 100vw;
margin-top: 3em;
}

.clientes{
padding-bottom: 3em;
}

.contacto{
  background-color: rgba(209, 209, 209, 0.288);
  padding: 4em 3em;
  margin-top: 3em;

}

.contacto .c, .c a{
  color: black;
  font-weight: 300;
}

.agronegocios{
  padding: 4em;
}
 .agronegocios .d, .agronegocios .d a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  word-wrap: break-word;
 }

.agronegocios .d img{
  max-width: 100%;
}

.agro, .agronegocios{
  display: flex;
  justify-content: center;
}

.agro{
  margin-top: 2em;
}

.agro img {
  max-width: 100%;
}
